last 3 chrome versions and last 2 years
last 3 firefox versions and last 2 years
last 3 edge versions and last 2 years
last 3 safari versions and last 2 years
last 3 ios versions and last 2 years
last 3 chromeandroid versions and last 2 years
ie 11